<div class="row">
  <div class="col-sm-8">
    <h2>Biscuits</h2>
    <div class="list-group">
      <div class="list-group-item"
              *ngFor="let cookie of cookies; let i = index">
        <h3 class="list-group-item-heading">{{ cookie.name }}</h3>
        <p class="text-secondary">id : {{ i }}</p>
        <p *ngIf="cookie.quantity>0"
            [ngClass]="{'list-group-item-text': true,
                        'text-warning': cookie.quantity < 10}">Il y a {{ cookie.quantity }} {{ cookie.name }}s.</p>
        <p *ngIf="cookie.quantity<=0"
            class="list-group-item-text text-danger">Il n'y a plus de {{ cookie.name }} en stock !</p>
        <label for="addQuantity">Nouvelle quantité  </label>
        <input [(ngModel)]="cookie.quantity" placeholder="{{ cookie.quantity }}" type="number">
        <button class="btn btn-success" (click)="onSupply()">Enregistrer</button>
        <hr />
        <div class="row">
          <button *ngIf="isAuth" class="btn btn-danger float-right" (click)="onDeleteCookie(cookie)">
          Supprimer
          </button>
        </div>
      </div>
    </div>
  </div>
</div>