<div class="row">
  <div class="col-xs-12">
    <h2>Biscuits</h2>
    <div class="list-group">
      <div class="list-group-item"
              *ngFor="let cookie of cookies; let i = index">
        <h3 class="list-group-item-heading">{{ cookie.name }}</h3>
        <button class="btn btn-primary pull-right" (click)="onDeleteCookie(cookie)">
          Supprimer
        </button>
        <p class="list-group-item-text">Il y a {{ cookie.quantity }} {{ cookie.name }}s.</p>
      </div>
    </div>
  </div>
</div>